body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:764px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:764px;
}
#u917 {
  position:absolute;
  left:2px;
  top:374px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:-13px;
  top:358px;
  width:212px;
  height:41px;
}
#u919 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1513px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:-13px;
  top:86px;
  width:1513px;
  height:50px;
}
#u921 {
  position:absolute;
  left:2px;
  top:17px;
  width:1509px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  position:absolute;
  left:-13px;
  top:240px;
  width:212px;
  height:39px;
}
#u924 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u925 {
  position:absolute;
  left:32px;
  top:253px;
  width:14px;
  height:14px;
}
#u926 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:-13px;
  top:278px;
  width:212px;
  height:39px;
}
#u928 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:-13px;
  top:316px;
  width:212px;
  height:39px;
}
#u930 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
  background:inherit;
  background-color:rgba(210, 227, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1C71FB;
}
#u931 {
  position:absolute;
  left:-13px;
  top:354px;
  width:212px;
  height:39px;
  color:#1C71FB;
}
#u932 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(231, 232, 234, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u934 {
  position:absolute;
  left:-13px;
  top:392px;
  width:212px;
  height:39px;
}
#u935 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u936 {
  position:absolute;
  left:32px;
  top:405px;
  width:14px;
  height:14px;
}
#u937 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:39px;
  background:inherit;
  background-color:rgba(28, 113, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u938 {
  position:absolute;
  left:193px;
  top:354px;
  width:6px;
  height:39px;
}
#u939 {
  position:absolute;
  left:2px;
  top:12px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u940 {
  position:absolute;
  left:159px;
  top:404px;
  width:9px;
  height:16px;
  color:#666666;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u942 {
  position:absolute;
  left:160px;
  top:252px;
  width:9px;
  height:16px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#666666;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:617px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u944 {
  position:absolute;
  left:222px;
  top:151px;
  width:1250px;
  height:617px;
}
#u945 {
  position:absolute;
  left:2px;
  top:300px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:308px;
  top:88px;
  width:109px;
  height:47px;
}
#u948 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u949 {
  position:absolute;
  left:417px;
  top:88px;
  width:109px;
  height:47px;
}
#u950 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
  background:inherit;
  background-color:rgba(178, 206, 252, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1C71FB;
}
#u951 {
  position:absolute;
  left:525px;
  top:86px;
  width:109px;
  height:49px;
  color:#1C71FB;
}
#u952 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:4px;
  background:inherit;
  background-color:rgba(28, 113, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:525px;
  top:132px;
  width:109px;
  height:4px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-6px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u956 {
  position:absolute;
  left:199px;
  top:88px;
  width:109px;
  height:47px;
}
#u957 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1235px;
  height:676px;
}
#u958 {
  position:absolute;
  left:209px;
  top:146px;
  width:1235px;
  height:676px;
}
#u959 {
  position:absolute;
  left:2px;
  top:330px;
  width:1231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u960 {
  position:absolute;
  left:233px;
  top:167px;
  width:111px;
  height:21px;
  font-size:16px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u962 {
  position:absolute;
  left:475px;
  top:172px;
  width:113px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
